/* Hi Ina!, das hier ist ein Kommentar. Und das
 * hier ist eine css Datei. */

/* Und hiermit hole ich mir eine Schriftart */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* Das ist ein DIV, damit kannste sagen wo und wie
 * Elemente aussehen sollen */ 
#meindiv{
text-align: center;
background-color: #cecece; 
width: 400px; 
font-family: 'Open Sans', sans-serif;}

#buttondiv{
background-color: #ffffff;
width: 400px;
margin-top: 5px;
margin-bottom: 10px;
}

#ergebnis{
text-align: center;
background-color: #ececec; 
width: 400px;
height: 100px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
overflow-y: scroll; /* vertikales scrollen */
opacity: 0;
}

#ergebnisCounter{
background-color: #0e0e0e;
color: white;
width: 400px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
visibility: hidden;
}

atestdiv {
  width: 400px;
  background-color: #ff0000;
  -webkit-animation: spin 4s infinite linear;
  -webkit-animation-play-state:running;
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spin
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes spin
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
}



